# **Introducción a R para Análisis de Datos**
## Capítulo 2: Data Frames - Soluciones a Ejercicios
---
Acerca de este notebook
* **Autor:** Juan Martin Bellido
* **Descripción:** *este notebook incluye las soluciones a los ejercicios del capítulo 2*
* **¿Feedback? ¿comentarios?** Por favor compártelo conmigo escribiéndome por [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)

# Capítulo 2: Ejercicios
---

In [ ]:
# instalamos librería "data.table"
install.packages("data.table")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

### Ejercicio #1

##### 1A. Importar dataframe. Seleccionar columnas "name", "homeworld", "species" para las primeras 10 filas del DataFrame.

##### 1B. Seleccionar personajes que a) no sean *species* hombre y b) sean *homeworld* Naboo, Endor o Kashyyyk.

> *Dataset https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv*

In [ ]:
# importamos librería
require(data.table)

Loading required package: data.table

In [ ]:
# importamos df
df_starwars = data.table::fread('https://data-wizards.s3.amazonaws.com/datasets/dataset_star_wars.csv')
str(df_starwars)

Classes ‘data.table’ and 'data.frame':	87 obs. of  10 variables:
 $ name      : chr  "Mon Mothma" "Yoda" "Tion Medon" "Ratts Tyerell" ...
 $ height    : int  150 66 206 79 172 96 165 228 188 188 ...
 $ mass      : num  NA 17 80 15 77 32 75 112 79 84 ...
 $ hair_color: chr  "auburn" "white" "none" "none" ...
 $ skin_color: chr  "fair" "green" "grey" "grey & blue" ...
 $ eye_color : chr  "blue" "brown" "black" "unknown" ...
 $ birth_year: num  48 896 NA NA 19 33 47 200 NA 72 ...
 $ gender    : chr  "female" "male" "male" "male" ...
 $ homeworld : chr  "Chandrila" "" "Utapau" "Aleen Minor" ...
 $ species   : chr  "Human" "Yoda's species" "Pau'an" "Aleena" ...
 - attr(*, ".internal.selfref")=<externalptr>

In [ ]:
# 1.A
df_starwars[1:10,c('name','homeworld','species')]

   name               homeworld   species
1  Mon Mothma         Chandrila   Human
2  Yoda                           Yoda's species
3  Tion Medon         Utapau      Pau'an
4  Ratts Tyerell      Aleen Minor Aleena
5  Luke Skywalker     Tatooine    Human
6  R2-D2              Naboo       Droid
7  Beru Whitesun lars Tatooine    Human
8  Chewbacca          Kashyyyk    Wookiee
9  Raymus Antilles    Alderaan    Human
10 Mace Windu         Haruun Kal  Human

In [ ]:
# 1.B
cond_1 = df_starwars$species != 'Human'
cond_2 = df_starwars$homeworld %in% c('Naboo','Endor','Kashyyyk')

df_starwars[cond_1 & cond_2,c('name','species','homeworld')]

  name                  species homeworld
1 R2-D2                 Droid   Naboo
2 Chewbacca             Wookiee Kashyyyk
3 Rugor Nass            Gungan  Naboo
4 Tarfful               Wookiee Kashyyyk
5 Quarsh Panaka                 Naboo
6 Roos Tarpals          Gungan  Naboo
7 Wicket Systri Warrick Ewok    Endor
8 Ric Olié                      Naboo
9 Jar Jar Binks         Gungan  Naboo

### Ejercicio #2

##### EX 2A. Importar dataframe. Seleccionar columnas *country*, *director_name*, *imdb_score* para las primeras 10 filas del dataframe
##### EX 2B. Seleccionar películas:  
(i) *producidas fuera de USA o con IMDB score mayor a 8.5*, y  
(ii) *dirigidas por alguno de lo siguientes directores: James Cameron, Peter Jackson, Tim Burton.*

> Dataset https://data-wizards.s3.amazonaws.com/datasets/movies.csv

In [ ]:
# importamos librería
require(data.table)

In [ ]:
# importamos df
df_movies = data.table::fread('https://data-wizards.s3.amazonaws.com/datasets/movies.csv')
str(df_movies)

Classes ‘data.table’ and 'data.frame':	4916 obs. of  28 variables:
 $ color                    : chr  "Color" "Color" "Color" "Color" ...
 $ director_name            : chr  "James Cameron" "Gore Verbinski" "Sam Mendes" "Christopher Nolan" ...
 $ num_critic_for_reviews   : int  723 302 602 813 NA 462 392 324 635 375 ...
 $ duration                 : int  178 169 148 164 NA 132 156 100 141 153 ...
 $ director_facebook_likes  : int  0 563 0 22000 131 475 0 15 0 282 ...
 $ actor_3_facebook_likes   : int  855 1000 161 23000 NA 530 4000 284 19000 10000 ...
 $ actor_2_name             : chr  "Joel David Moore" "Orlando Bloom" "Rory Kinnear" "Christian Bale" ...
 $ actor_1_facebook_likes   : int  1000 40000 11000 27000 131 640 24000 799 26000 25000 ...
 $ gross                    : num  7.61e+08 3.09e+08 2.00e+08 4.48e+08 NA ...
 $ genres                   : chr  "Action|Adventure|Fantasy|Sci-Fi" "Action|Adventure|Fantasy" "Action|Adventure|Thriller" "Action|Thriller" ...
 $ actor_1_name             : chr  "CCH Pounder" "Johnny Depp" "Christoph Waltz" "Tom Hardy" ...
 $ movie_title              : chr  "Avatar" "Pirates of the Caribbean: At World's End" "Spectre" "The Dark Knight Rises" ...
 $ num_voted_users          : int  886204 471220 275868 1144337 8 212204 383056 294810 462669 321795 ...
 $ cast_total_facebook_likes: int  4834 48350 11700 106759 143 1873 46055 2036 92000 58753 ...
 $ actor_3_name             : chr  "Wes Studi" "Jack Davenport" "Stephanie Sigman" "Joseph Gordon-Levitt" ...
 $ facenumber_in_poster     : int  0 0 1 0 0 1 0 1 4 3 ...
 $ plot_keywords            : chr  "avatar|future|marine|native|paraplegic" "goddess|marriage ceremony|marriage proposal|pirate|singapore" "bomb|espionage|sequel|spy|terrorist" "deception|imprisonment|lawlessness|police officer|terrorist plot" ...
 $ movie_imdb_link          : chr  "http://www.imdb.com/title/tt0499549/?ref_=fn_tt_tt_1" "http://www.imdb.com/title/tt0449088/?ref_=fn_tt_tt_1" "http://www.imdb.com/title/tt2379713/?ref_=fn_tt_tt_1" "http://www.imdb.com/title/tt1345836/?ref_=fn_tt_tt_1" ...
 $ num_user_for_reviews     : int  3054 1238 994 2701 NA 738 1902 387 1117 973 ...
 $ language                 : chr  "English" "English" "English" "English" ...
 $ country                  : chr  "USA" "USA" "UK" "USA" ...
 $ content_rating           : chr  "PG-13" "PG-13" "PG-13" "PG-13" ...
 $ budget                   : num  2.37e+08 3.00e+08 2.45e+08 2.50e+08 NA ...
 $ title_year               : int  2009 2007 2015 2012 NA 2012 2007 2010 2015 2009 ...
 $ actor_2_facebook_likes   : int  936 5000 393 23000 12 632 11000 553 21000 11000 ...
 $ imdb_score               : num  7.9 7.1 6.8 8.5 7.1 6.6 6.2 7.8 7.5 7.5 ...
 $ aspect_ratio             : num  1.78 2.35 2.35 2.35 NA 2.35 2.35 1.85 2.35 2.35 ...
 $ movie_facebook_likes     : int  33000 0 85000 164000 0 24000 0 29000 118000 10000 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [ ]:
# 2.A
df_movies[1:10,c('country','director_name','imdb_score')]

   country director_name     imdb_score
1  USA     James Cameron     7.9
2  USA     Gore Verbinski    7.1
3  UK      Sam Mendes        6.8
4  USA     Christopher Nolan 8.5
5          Doug Walker       7.1
6  USA     Andrew Stanton    6.6
7  USA     Sam Raimi         6.2
8  USA     Nathan Greno      7.8
9  USA     Joss Whedon       7.5
10 UK      David Yates       7.5

In [ ]:
# 2.B
cond_1 = df_movies$country != 'USA'
cond_2 = df_movies$imdb_score > 8.5
cond_3 = df_movies$director_name %in% c('James Cameron','Peter Jackson','Tim Burton')

df_movies[(cond_1 | cond_2) & cond_3,c('movie_title','country','director_name','imdb_score')]

  movie_title                                       country     director_name
1 The Hobbit: The Battle of the Five Armies         New Zealand Peter Jackson
2 King Kong                                         New Zealand Peter Jackson
3 The Lord of the Rings: The Fellowship of the Ring New Zealand Peter Jackson
4 The Lord of the Rings: The Return of the King     USA         Peter Jackson
5 The Lord of the Rings: The Two Towers             USA         Peter Jackson
6 The Terminator                                    UK          James Cameron
7 Heavenly Creatures                                New Zealand Peter Jackson
  imdb_score
1 7.5
2 7.2
3 8.8
4 8.9
5 8.7
6 8.1
7 7.4

### Ejercicio #3  

#### EX 3A. Importar dataframe. Seleccionar columnas "Company", "Sector" y "Revenue".
#### EX 3B. Crear una columna "Profits_per_Employee" como operación entre las columnas "Profits" / "Employees".


> Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv

In [ ]:
# importamos librería
require(data.table)

In [ ]:
# importamos df
df_fortune = data.table::fread('https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv')
str(df_fortune)

Classes ‘data.table’ and 'data.frame':	1000 obs. of  8 variables:
 $ Rank     : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Company  : chr  "Walmart" "Exxon Mobil" "Apple" "Berkshire Hathaway" ...
 $ Sector   : chr  "Retailing" "Energy" "Technology" "Financials" ...
 $ Industry : chr  "General Merchandisers" "Petroleum Refining" "Computers, Office Equipment" "Insurance: Property and Casualty (Stock)" ...
 $ Location : chr  "Bentonville, AR" "Irving, TX" "Cupertino, CA" "Omaha, NE" ...
 $ Revenue  : int  482130 246204 233715 210821 181241 157107 153290 152356 149558 146801 ...
 $ Profits  : int  14694 16150 53394 24083 1476 5813 5237 9687 7373 13345 ...
 $ Employees: int  2300000 75600 110000 331000 70400 200000 199000 215000 199000 281450 ...
 - attr(*, ".internal.selfref")=<externalptr>

In [ ]:
# 1.A
df_fortune[,c('Company','Sector','Revenue')]

     Company                           Sector                       Revenue
1    Walmart                           Retailing                    482130
2    Exxon Mobil                       Energy                       246204
3    Apple                             Technology                   233715
4    Berkshire Hathaway                Financials                   210821
5    McKesson                          Health Care                  181241
6    UnitedHealth Group                Health Care                  157107
7    CVS Health                        Food and Drug Stores         153290
8    General Motors                    Motor Vehicles & Parts       152356
9    Ford Motor                        Motor Vehicles & Parts       149558
10   AT&T                              Telecommunications           146801
11   General Electric                  Industrials                  140389
12   AmerisourceBergen                 Health Care                  135962
13   Verizon                           Telecommunications           131620
14   Chevron                           Energy                       131118
15   Costco                            Retailing                    116199
16   Fannie Mae                        Financials                   110359
17   Kroger                            Food and Drug Stores         109830
18   Amazon.com                        Technology                   107006
19   Walgreens Boots Alliance          Food and Drug Stores         103444
20   HP                                Technology                   103355
21   Cardinal Health                   Health Care                  102531
22   Express Scripts Holding           Health Care                  101752
23   J.P. Morgan Chase                 Financials                   101006
24   Boeing                            Aerospace & Defense           96114
25   Microsoft                         Technology                    93580
26   Bank of America Corp.             Financials                    93056
27   Wells Fargo                       Financials                    90033
28   Home Depot                        Retailing                     88519
29   Citigroup                         Financials                    88275
30   Phillips 66                       Energy                        87169
⋮    ⋮                                 ⋮                            ⋮
971  VeriFone Systems                  Technology                   2001
972  Genesee & Wyoming                 Transportation               2000
973  99 Cents Only Stores              Retailing                    1999
974  Roadrunner Transportation Systems Transportation               1995
975  Super Micro Computer              Technology                   1991
976  First Republic Bank               Financials                   1989
977  Hill-Rom Holdings                 Health Care                  1988
978  Providence Service                Health Care                  1987
979  Allison Transmission Holdings     Motor Vehicles & Parts       1986
980  Spire                             Energy                       1976
981  WPX Energy                        Energy                       1958
982  Century Aluminum                  Materials                    1950
983  Adams Resources & Energy          Energy                       1944
984  Nuance Communications             Technology                   1931
985  Primoris Services                 Engineering & Construction   1929
986  Schnitzer Steel Industries        Materials                    1924
987  Delta Tucker Holdings             Aerospace & Defense          1923
988  Hospitality Properties Trust      Financials                   1922
989  Cenveo                            Media                        1921
990  F5 Networks                       Technology                   1920
991  BlueLinx Holdings                 Wholesalers                  1917
992  Revlon                            Household Products           1914
993  DeVry Education Group             Business Services            1910
994  MDC Holdings                      Engineering & Construction   1909
995  EP Energy                         Energy                       1908
996  New York Community Bancorp        Financials                   1902
997  Portland General Electric         Energy                       1898
998  Portland General Electric         Energy                       1898
999  Wendy’s                           Hotels, Resturants & Leisure 1896
1000 Briggs & Stratton                 Industrials                  1895

In [ ]:
# 1.B
df_fortune$profits_per_employee = round(df_fortune$Profits / df_fortune$Employees, 2)
head(df_fortune)

  Rank Company            Sector      Industry
1 1    Walmart            Retailing   General Merchandisers
2 2    Exxon Mobil        Energy      Petroleum Refining
3 3    Apple              Technology  Computers, Office Equipment
4 4    Berkshire Hathaway Financials  Insurance: Property and Casualty (Stock)
5 5    McKesson           Health Care Wholesalers: Health Care
6 6    UnitedHealth Group Health Care Health Care: Insurance and Managed Care
  Location          Revenue Profits Employees profits_per_employee
1 Bentonville, AR   482130  14694   2300000   0.01
2 Irving, TX        246204  16150     75600   0.21
3 Cupertino, CA     233715  53394    110000   0.49
4 Omaha, NE         210821  24083    331000   0.07
5 San Francisco, CA 181241   1476     70400   0.02
6 Minnetonka, MN    157107   5813    200000   0.03