# **Introducción a R para Análisis de Datos**
## Capítulo 4: Limpieza de Datos 
---
Acerca de este notebook
* **Autor:** Juan Martin Bellido
* **Descripción:** *este notebook incluye las soluciones a los ejercicios del capítulo 4*
* **¿Feedback? ¿comentarios?** Por favor compártelo conmigo escribiéndome por [LinkedIn](https://www.linkedin.com/in/jmartinbellido/)

# Capítulo 4: Ejercicios
---

In [ ]:
# instalamos librería "data.table" porque Google colab no la incluye por defecto
install.packages("data.table")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘Rcpp’, ‘gridExtra’, ‘plyr’, ‘norm’, ‘visdat’, ‘viridis’, ‘UpSetR’

In [ ]:
# importamos las librerías que utilizaremos
require(dplyr)
require(data.table)
require(naniar)

Loading required package: naniar

In [ ]:
# (opcional) editamos las opciones globales para evitar que R utilice notación científica
options(scipen=999)

### Ejercicio #1

##### EX 1.A Identificar columnas con valores nulos (formalmente declarados) en el dataframe.
##### EX 1.B ¿Cuántas películas hay con valores nulos para el campo *director_name*?
##### EX 1.C Reemplazar valores nulos en *director_name* por "unknown".

> Dataset https://data-wizards.s3.amazonaws.com/datasets/movies.csv

In [ ]:
# importamos DataFrame
df_movies = fread("https://data-wizards.s3.amazonaws.com/datasets/movies.csv")
glimpse(df_movies)

Rows: 4,916
Columns: 28
$ color                     <chr> "Color", "Color", "Color", "Color", "", "Col…
$ director_name             <chr> "James Cameron", "Gore Verbinski", "Sam Mend…
$ num_critic_for_reviews    <int> 723, 302, 602, 813, NA, 462, 392, 324, 635, …
$ duration                  <int> 178, 169, 148, 164, NA, 132, 156, 100, 141, …
$ director_facebook_likes   <int> 0, 563, 0, 22000, 131, 475, 0, 15, 0, 282, 0…
$ actor_3_facebook_likes    <int> 855, 1000, 161, 23000, NA, 530, 4000, 284, 1…
$ actor_2_name              <chr> "Joel David Moore", "Orlando Bloom", "Rory K…
$ actor_1_facebook_likes    <int> 1000, 40000, 11000, 27000, 131, 640, 24000, …
$ gross                     <dbl> 760505847, 309404152, 200074175, 448130642, …
$ genres                    <chr> "Action|Adventure|Fantasy|Sci-Fi", "Action|A…
$ actor_1_name              <chr> "CCH Pounder", "Johnny Depp", "Christoph Wal…
$ movie_title               <chr> "Avatar", "Pirates of the Caribbean: At Worl…
$ num_voted_users           <int> 886204, 471220, 275868, 1144337, 8, 212204, …
$ cast_total_facebook_likes <int> 4834, 48350, 11700, 106759, 143, 1873, 46055…
$ actor_3_name              <chr> "Wes Studi", "Jack Davenport", "Stephanie Si…
$ facenumber_in_poster      <int> 0, 0, 1, 0, 0, 1, 0, 1, 4, 3, 0, 0, 1, 2, 1,…
$ plot_keywords             <chr> "avatar|future|marine|native|paraplegic", "g…
$ movie_imdb_link           <chr> "http://www.imdb.com/title/tt0499549/?ref_=f…
$ num_user_for_reviews      <int> 3054, 1238, 994, 2701, NA, 738, 1902, 387, 1…
$ language                  <chr> "English", "English", "English", "English", …
$ country                   <chr> "USA", "USA", "UK", "USA", "", "USA", "USA",…
$ content_rating            <chr> "PG-13", "PG-13", "PG-13", "PG-13", "", "PG-…
$ budget                    <dbl> 237000000, 300000000, 245000000, 250000000, …
$ title_year                <int> 2009, 2007, 2015, 2012, NA, 2012, 2007, 2010…
$ actor_2_facebook_likes    <int> 936, 5000, 393, 23000, 12, 632, 11000, 553, …
$ imdb_score                <dbl> 7.9, 7.1, 6.8, 8.5, 7.1, 6.6, 6.2, 7.8, 7.5,…
$ aspect_ratio              <dbl> 1.78, 2.35, 2.35, 2.35, NA, 2.35, 2.35, 1.85…
$ movie_facebook_likes      <int> 33000, 0, 85000, 164000, 0, 24000, 0, 29000,…

In [ ]:
# campos formalmente declarados como nulos
apply(is.na(df_movies),2,sum)

                    color             director_name    num_critic_for_reviews
                        0                         0                        49
                 duration   director_facebook_likes    actor_3_facebook_likes
                       15                       102                        23
             actor_2_name    actor_1_facebook_likes                     gross
                        0                         7                       862
                   genres              actor_1_name               movie_title
                        0                         0                         0
          num_voted_users cast_total_facebook_likes              actor_3_name
                        0                         0                         0
     facenumber_in_poster             plot_keywords           movie_imdb_link
                       13                         0                         0
     num_user_for_reviews                  language                   country
                       21                         0                         0
           content_rating                    budget                title_year
                        0                       484                       106
   actor_2_facebook_likes                imdb_score              aspect_ratio
                       13                         0                       326
     movie_facebook_likes
                        0

In [ ]:
# para evaluar el campo "director_name", convertimos valores vacíos ("") en NA
df_movies$director_name = ifelse(df_movies$director_name == '', NA, df_movies$director_name)

In [ ]:
# cantidad de valores nulos en campo "director_name"
df_movies$director_name %>% is.na() %>% sum()

[1] 102

In [ ]:
# reemplazamos valores nulos por "unknown"
df_movies$director_name = ifelse(is.na(df_movies$director_name), 'unknown', df_movies$director_name)

In [ ]:
# volvemos a comprobar cantidad de valores nulos en campo "director_name"
df_movies$director_name %>% is.na() %>% sum()

[1] 0

### Ejercicio #2

Detectar empresas que sean outliers en cantidad de empleados.

##### EX 2.A Utilizando distribución normal
##### EX 2.B Utilizando el método del rango intercuartílico

> Dataset https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv

In [ ]:
# importamos DataFrame
df_fortune = fread("https://data-wizards.s3.amazonaws.com/datasets/fortune1000.csv")
glimpse(df_fortune)

Rows: 1,000
Columns: 8
$ Rank      <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1…
$ Company   <chr> "Walmart", "Exxon Mobil", "Apple", "Berkshire Hathaway", "Mc…
$ Sector    <chr> "Retailing", "Energy", "Technology", "Financials", "Health C…
$ Industry  <chr> "General Merchandisers", "Petroleum Refining", "Computers, O…
$ Location  <chr> "Bentonville, AR", "Irving, TX", "Cupertino, CA", "Omaha, NE…
$ Revenue   <int> 482130, 246204, 233715, 210821, 181241, 157107, 153290, 1523…
$ Profits   <int> 14694, 16150, 53394, 24083, 1476, 5813, 5237, 9687, 7373, 13…
$ Employees <int> 2300000, 75600, 110000, 331000, 70400, 200000, 199000, 21500…

Utilizando distribución normal.

In [ ]:
# calculamos la media y la desviación estándar
mean <- mean(df_fortune$Employees)
sd <- sd(df_fortune$Employees)

In [ ]:
# convertimos campo a z y lo almacenamos en una nueva columna
df_fortune$z_employees = (df_fortune$Employees - mean) / sd

In [ ]:
# visualizarmos outliers
df_fortune %>% filter(
  abs(z_employees) > 3 
)

   Rank Company            Sector
1    1  Walmart            Retailing
2    4  Berkshire Hathaway Financials
3   11  General Electric   Industrials
4   17  Kroger             Food and Drug Stores
5   28  Home Depot         Retailing
6   31  IBM                Technology
7   38  Target             Retailing
8   48  UPS                Transportation
9   58  FedEx              Transportation
10 109  McDonald’s         Hotels, Resturants & Leisure
11 218  Yum Brands         Hotels, Resturants & Leisure
   Industry                                 Location        Revenue Profits
1  General Merchandisers                    Bentonville, AR 482130  14694
2  Insurance: Property and Casualty (Stock) Omaha, NE       210821  24083
3  Industrial Machinery                     Fairfield, CT   140389  -6126
4  Food and Drug Stores                     Cincinnati, OH  109830   2039
5  Specialty Retailers: Other               Atlanta, GA      88519   7009
6  Information Technology Services          Armonk, NY       82461  13190
7  General Merchandisers                    Minneapolis, MN  73785   3363
8  Mail, Package, and Freight Delivery      Atlanta, GA      58363   4844
9  Mail, Package, and Freight Delivery      Memphis, TN      47453   1050
10 Food Services                            Oak Brook, IL    25413   4529
11 Food Services                            Louisville, KY   13105   1293
   Employees z_employees
1  2300000   25.069445
2   331000    3.295141
3   333000    3.317258
4   431000    4.400997
5   385000    3.892303
6   411798    4.188651
7   341000    3.405727
8   341240    3.408381
9   323035    3.207060
10  420000    4.279353
11  505000    5.219330

Utilizando método del rango intercuartílico.

In [ ]:
# calculamos el rango intercuartilico (IQR) como la diferencia entre el percentil 75 y el 25
IQR <- quantile(df_fortune$Employees, 0.75) - quantile(df_fortune$Employees, 0.25)

In [ ]:
# calculamos los límites inferior y superior
lower_limit <- quantile(df_fortune$Employees, 0.25) - 1.5 * IQR
upper_limit <- quantile(df_fortune$Employees, 0.75) + 1.5 * IQR

In [ ]:
# filtramos observaciones que se encuentren por fuera de estos límites
df_fortune %>% filter(
  Employees < lower_limit | Employees > upper_limit
)

    Rank Company                          Sector
1    1   Walmart                          Retailing
2    2   Exxon Mobil                      Energy
3    3   Apple                            Technology
4    4   Berkshire Hathaway               Financials
5    5   McKesson                         Health Care
6    6   UnitedHealth Group               Health Care
7    7   CVS Health                       Food and Drug Stores
8    8   General Motors                   Motor Vehicles & Parts
9    9   Ford Motor                       Motor Vehicles & Parts
10  10   AT&T                             Telecommunications
11  11   General Electric                 Industrials
12  13   Verizon                          Telecommunications
13  14   Chevron                          Energy
14  15   Costco                           Retailing
15  17   Kroger                           Food and Drug Stores
16  18   Amazon.com                       Technology
17  19   Walgreens Boots Alliance         Food and Drug Stores
18  20   HP                               Technology
19  23   J.P. Morgan Chase                Financials
20  24   Boeing                           Aerospace & Defense
21  25   Microsoft                        Technology
22  26   Bank of America Corp.            Financials
23  27   Wells Fargo                      Financials
24  28   Home Depot                       Retailing
25  29   Citigroup                        Financials
26  31   IBM                              Technology
27  34   Procter & Gamble                 Household Products
28  35   State Farm Insurance Cos.        Financials
29  36   Alphabet                         Technology
30  37   Comcast                          Telecommunications
⋮   ⋮    ⋮                                ⋮
91  186  Omnicom Group                    Business Services
92  194  Western Digital                  Technology
93  195  Marriott International           Hotels, Resturants & Leisure
94  197  Nordstrom                        Retailing
95  199  Aramark                          Business Services
96  212  Synnex                           Wholesalers
97  218  Yum Brands                       Hotels, Resturants & Leisure
98  228  J.C. Penney                      Retailing
99  230  Cognizant Technology Solutions   Technology
100 231  VF                               Apparel
101 233  Computer Sciences                Technology
102 237  Ross Stores                      Retailing
103 240  Toys “R” Us                      Retailing
104 254  Hilton Worldwide Holdings        Hotels, Resturants & Leisure
105 255  R.R. Donnelley & Sons            Media
106 259  CBRE Group                       Financials
107 280  AutoZone                         Retailing
108 290  Universal Health Services        Health Care
109 353  XPO Logistics                    Transportation
110 371  Darden Restaurants               Hotels, Resturants & Leisure
111 372  Kindred Healthcare               Health Care
112 436  Jones Lang LaSalle               Financials
113 444  Starwood Hotels & Resorts        Hotels, Resturants & Leisure
114 448  Hanesbrands                      Apparel
115 457  Genesis Healthcare               Health Care
116 485  ABM Industries                   Business Services
117 515  Brookdale Senior Living          Health Care
118 557  Bloomin’ Brands                  Hotels, Resturants & Leisure
119 744  Convergys                        Business Services
120 763  Cracker Barrel Old Country Store Hotels, Resturants & Leisure
    Industry                                      Location            Revenue
1   General Merchandisers                         Bentonville, AR     482130
2   Petroleum Refining                            Irving, TX          246204
3   Computers, Office Equipment                   Cupertino, CA       233715
4   Insurance: Property and Casualty (Stock)      Omaha, NE           210821
5   Wholesalers: Health Care                      San Francisco, CA   181241
6   Health Care: Insurance and Managed Care       Minnetonka, MN      157107
7   Food and Drug Stores                          Woonsocket, RI      153290
8   Motor Vehicles and Parts                      Detroit, MI         152356
9   Motor Vehicles and Parts                      Dearborn, MI        149558
10  Telecommunications                            Dallas, TX          146801
11  Industrial Machinery                          Fairfield, CT       140389
12  Telecommunications                            New York, NY        131620
13  Petroleum Refining                            San Ramon, CA       131118
14  Specialty Retailers: Other                    Issaquah, WA        116199
15  Food and Drug Stores                          Cincinnati, OH      109830
16  Internet Services and Retailing               Seattle, WA         107006
17  Food and Drug Stores                          Deerfield, IL       103444
18  Computers, Office Equipment                   Palo Alto, CA       103355
19  Commercial Banks                              New York, NY        101006
20  Aerospace and Defense                         Chicago, IL          96114
21  Computer Software                             Redmond, WA          93580
22  Commercial Banks                              Charlotte, NC        93056
23  Commercial Banks                              San Francisco, CA    90033
24  Specialty Retailers: Other                    Atlanta, GA          88519
25  Commercial Banks                              New York, NY         88275
26  Information Technology Services               Armonk, NY           82461
27  Household and Personal Products               Cincinnati, OH       78756
28  Insurance: Property and Casualty (Mutual)     Bloomington, IL      75697
29  Internet Services and Retailing               Mountain View, CA    74989
30  Telecommunications                            Philadelphia, PA     74510
⋮   ⋮                                             ⋮                   ⋮
91  Advertising, marketing                        New York, NY        15134
92  Computer Peripherals                          Irvine, CA          14572
93  Hotels, Casinos, Resorts                      Bethesda, MD        14486
94  General Merchandisers                         Seattle, WA         14437
95  Diversified Outsourcing Services              Philadelphia, PA    14329
96  Wholesalers: Electronics and Office Equipment Fremont, CA         13338
97  Food Services                                 Louisville, KY      13105
98  General Merchandisers                         Plano, TX           12625
99  Information Technology Services               Teaneck, NJ         12416
100 Apparel                                       Greensboro, NC      12377
101 Information Technology Services               Falls Church, VA    12183
102 Specialty Retailers: Apparel                  Dublin, CA          11940
103 Specialty Retailers: Other                    Wayne, NJ           11802
104 Hotels, Casinos, Resorts                      McLean, VA          11272
105 Publishing, Printing                          Chicago, IL         11257
106 Real estate                                   Los Angeles, CA     10856
107 Specialty Retailers: Other                    Memphis, TN         10187
108 Health Care: Medical Facilities               King of Prussia, PA  9785
109 Transportation and Logistics                  Greenwich, CT        7623
110 Food Services                                 Orlando, FL          7164
111 Health Care: Medical Facilities               Louisville, KY       7098
112 Real estate                                   Chicago, IL          5966
113 Hotels, Casinos, Resorts                      Stamford, CT         5763
114 Apparel                                       Winston-Salem, NC    5732
115 Health Care: Medical Facilities               Kennett Square, PA   5619
116 Diversified Outsourcing Services              New York, NY         5291
117 Health Care: Medical Facilities               Brentwood, TN        4961
118 Food Services                                 Tampa, FL            4378
119 Diversified Outsourcing Services              Cincinnati, OH       2951
120 Food Services                                 Lebanon, TN          2842
    Profits Employees z_employees
1   14694   2300000   25.0694448
2   16150     75600    0.4707850
3   53394    110000    0.8511994
4   24083    331000    3.2951411
5    1476     70400    0.4132805
6    5813    200000    1.8464698
7    5237    199000    1.8354112
8    9687    215000    2.0123482
9    7373    199000    1.8354112
10  13345    281450    2.7471894
11  -6126    333000    3.3172582
12  17879    177700    1.5998639
13   4587     61500    0.3148593
14   2377    161000    1.4151860
15   2039    431000    4.4009970
16    596    230800    2.1870734
17   4220    302500    2.9799721
18   4554    287000    2.8085645
19  24442    234598    2.2290738
20   5176    161400    1.4196094
21  12193    118000    0.9396679
22  15888    213280    1.9933274
23  22894    264700    2.5619586
24   7009    385000    3.8923033
25  17242    231000    2.1892851
26  13190    411798    4.1886506
27   7036    110000    0.8511994
28   6229     70425    0.4135569
29  16348     61814    0.3183317
30   8163    153000    1.3267175
⋮   ⋮       ⋮         ⋮
91  1094     74900    0.4630440
92  1465     76449    0.4801737
93   859    127500    1.0447242
94   600     72500    0.4365034
95   236    216500    2.0289360
96   209     78500    0.5028548
97  1293    505000    5.2193304
98  -513    105000    0.7959066
99  1624    221700    2.0864405
100 1232     64000    0.3425057
101   -8     70000    0.4088570
102 1021     77800    0.4951138
103 -130     62000    0.3203886
104 1404    164000    1.4483616
105  151     68400    0.3911633
106  547     70000    0.4088570
107 1160     63990    0.3423951
108  681     64500    0.3480350
109 -191     89000    0.6189697
110  710    148892    1.2812889
111  -93     77800    0.4951138
112  439     61500    0.3148593
113  489    188000    1.7137671
114  429     65300    0.3568818
115 -426     88700    0.6156521
116   76    120000    0.9617850
117 -458     67500    0.3812106
118  127    100000    0.7406138
119  169    130000    1.0723706
120  164     72000    0.4309742